<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="utf-8">
  <title>KARNO Corporation</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/logo karno1.png" rel="icon">
  <link href="img/logo.png" rel="logo">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/st.css" rel="stylesheet">

  <!-- =======================================================
    Theme Name: BizPage
    Theme URL: https://bootstrapmade.com/bizpage-bootstrap-business-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
        <h1><a href="#intro"></a><img src="img/logo.png" height="30px" width="200px" />
          <a href="#intro" class="scrollto">KARNO Corporation</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!--<a href="#intro"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>

    <div>
      <h2>
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="index.html">Beranda</a></li>
          <li><a href="about.html">Tentang Kami</a></li>
          <li><a href="layanan.html">Layanan</a></li>
          <li><a href="pengalaman.html">Pengalaman</a></li>
          <li><a href="team.html">Personil</a></li>
          <li><a href="kontak.php">Kontak</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </h2>
    </div>
     
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

       
      </div>
    </div>
  </section><!-- #intro -->

  <main id="main">

    

    <!--==========================
      Portfolio Section
    ============================-->
    <section id="portfolio"  class="section-bg" >
        <div class="container">
  
          <header class="section-header">
            <h3 class="section-title">Pengalaman Kami</h3>
          </header>


          <div class="row">
            <div class="col-lg-12">
              <ul id="portfolio-flter">
                <a><a href="PLH.html">Tambang & Lingkungan</a></a>
          <li><a href="PB.html">Energi</a></li>
          <li><a href="PIT.html">Teknologi IT</a></li>
          <li><a href="PA.html">Agribisnis</a></li>
                
              </ul>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-12">
              <ul id="portfolio-flters">
                <li data-filter="*" class="filter-active">All</li>
                <li data-filter=".filter-2013">2013</li>
                <li data-filter=".filter-2014">2014</li>
                <li data-filter=".filter-2015">2015</li>
                <li data-filter=".filter-2016">2016</li>
                <li data-filter=".filter-2017">2017</li>
                <li data-filter=".filter-2018">2018</li>
                <li data-filter=".filter-2019">2019</li>
                
              </ul>
            </div>
          </div>
  
          <div class="row portfolio-container">
            <div class="col-lg-4 col-md-6 portfolio-item filter-2019 wow fadeInUp">
              <div class="portfolio-wrap">
                <div class="portfolio-judul">
                  <h4>Tambang</h4>
                </div>
                
                <figure>
                  <img src="img/pengalaman/2019/Karakterisasi Ore Pulang Pisau.JPG" class="img-fluid" alt="">
                  <a href="img/pengalaman/2019/Karakterisasi Ore Pulang Pisau.JPG" data-lightbox="portfolio" data-title="2019" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </figure>
  
                <div class="portfolio-info">
                  
                  <h6> Penyusunan Kajian Karakteristik Ore Batuan Emas di Kabupaten Pulang Pisau, Provinsi Kalimantan Tengah(2019)</h6>
                   <p> Kementerian Lingkungan Hidup dan Kehutanan</p>
                </div>
              </div>
            </div>
          
  
             <div class="col-lg-4 col-md-6 portfolio-item filter-2019 wow fadeInUp">
              <div class="portfolio-wrap">
                <div class="portfolio-judul">
                  <h4>Tambang</h4>
                </div>
                <figure>
                  <img src="img/pengalaman/2019/Karakterisasi Ore Pohuwato.JPG" class="img-fluid" alt="">
                  <a href="img/pengalaman/20019/Karakterisasi Ore Pohuwato.JPG" data-lightbox="portfolio" data-title="2019" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </figure>
  
                <div class="portfolio-info">
                  <h6> Penyusunan Kajian Karakteristik Ore Batuan Emas di Kabupaten Pohuwato, Provinsi Gorontalo(2019)</h6>
                   <p>Kementerian Lingkungan Hidup dan Kehutanan</p>
                </div>
              </div>
            </div>
  
             <div class="col-lg-4 col-md-6 portfolio-item filter-2019 wow fadeInUp">
              <div class="portfolio-wrap">
                <div class="portfolio-judul">
                  <h4>Tambang</h4>
                </div>
                <figure>
                  <img src="img/pengalaman/2019/Karakterisasi Ore Trenggalek-2019.jpg" class="img-fluid" alt="">
                  <a href="img/pengalaman/2019/Karakterisasi Ore Trenggalek-2019.jpg" data-lightbox="portfolio" data-title="2019" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </figure>
  
                <div class="portfolio-info">
                  <h6> Uji kandungan Mineral Pada Ore di Lokasi PESK Kabupaten Trenggalek, Provinsi Jawa Timur(2019)</h6>
                   <p>Kementerian Lingkungan Hidup dan Kehutanan</p>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-2019 wow fadeInUp">
              <div class="portfolio-wrap">
                <div class="portfolio-judul">
                  <h4>Tambang</h4>
                </div>
                <figure>
                  <img src="img/pengalaman/2019/Karakterisasi Ore Kuantan Singingi - 2019.jpg" class="img-fluid" alt="">
                  <a href="img/pengalaman/2019/Karakterisasi Ore Kuantan Singingi - 2019.jpg" data-lightbox="portfolio" data-title="2019" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </figure>
  
                <div class="portfolio-info">
                  <h6> Uji kandungan Mineral Pada Ore di Lokasi PESK Kabupaten Kuantan Singingi, Provinsi Riau (2019)</h6>
                   <p>Kementerian Lingkungan Hidup dan Kehutanan </p>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-2019 wow fadeInUp">
              <div class="portfolio-wrap">
                <div class="portfolio-judul">
                  <h4>Tambang</h4>
                </div>
                <figure>
                  <img src="img/pengalaman//2019/FS dan DED Pohuwato.jpg" class="img-fluid" alt="">
                  <a href="img/pengalaman//2019/FS dan DED Pohuwato.jpg" data-lightbox="portfolio" data-title="2019" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </figure>
  
                <div class="portfolio-info">
                  <h6> Penyusunan Dokumen Feasibility Study (FS) dan Detailed Engineering Design (DED) Pengolahan Emas Non Merkuri Pada Area PESK di Kabupaten Pohuwato, Provinsi Gorontalo (2019)</h6>
                   <p>Kementerian Lingkungan Hidup dan Kehutanan </p>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-2019 wow fadeInUp">
              <div class="portfolio-wrap">
                <div class="portfolio-judul">
                  <h4>Tambang</h4>
                </div>
                <figure>
                  <img src="img/pengalaman/2019/Pengawasan pembangunan fasilitas - 2019.jpeg" class="img-fluid" alt="">
                  <a href="img/pengalaman/2019/Pengawasan pembangunan fasilitas - 2019.jpeg" data-lightbox="portfolio" data-title="2019" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </figure>
  
                <div class="portfolio-info">
                  <h6>Pengawasan Pembangunan Fasilitas Pengolahan Emas Bebas Merkuri PESK di Kabupaten Halmahera (2019) </h6>
                   <p> Kementerian Lingkungan Hidup dan Kehutanan</p>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-2019 wow fadeInUp">
              <div class="portfolio-wrap">
                <div class="portfolio-judul">
                  <h4>Tambang</h4>
                </div>
                <figure>
                  <img src="img/pengalaman/p7.png" class="img-fluid" alt="">
                  <a href="img/pengalaman/p7.png" data-lightbox="portfolio" data-title="2019" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </figure>
  
                <div class="portfolio-info">
                  <h6> Pengawasan Pembangunan Fasilitas Pengolahan Emas Bebas Merkuri PESK di Kabupaten Pulang Pisau dan Pohuwato(2019)</h6>
                   <p> Kementerian Lingkungan Hidup dan Kehutanan</p>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-2019 wow fadeInUp">
              <div class="portfolio-wrap">
                <div class="portfolio-judul">
                  <h4>Lingkungan Hidup</h4>
                </div>
                <figure>
                  <img src="img/pengalaman/8.png" class="img-fluid" alt="">
                  <a href="img/pengalaman/8.png" data-lightbox="portfolio" data-title="2019" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </figure>
  
                <div class="portfolio-info">
                  <h6>Penyediaan Prasarana dan Sarana Pengolahan Sampah(2019)</h6>
                   <p>Dinas Lingkungan Hidup Kota Bandung</p>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-2019 wow fadeInUp">
              <div class="portfolio-wrap">
                <div class="portfolio-judul">
                  <h4>Tambang</h4>
                </div>
                <figure>
                  <img src="img/pengalaman/4.png" class="img-fluid" alt="">
                  <a href="img/pengalaman/4.png" data-lightbox="portfolio" data-title="2019" class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </figure>
  
                <div class="portfolio-info">
                  <h6> Penyusunan Dokumen Feasibility Study (FS) dan Detailed Engineering Design (DED) Pengolahan Emas Non Merkuri Pada Area PESK di Kabupaten Pulang Pisau, Kalimantan Tengah (2019)</h6>
                   <p>Kementerian Lingkungan Hidup dan Kehutanan </p>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 portfolio-item filter-2018 wow fadeInUp">
              <div class="portfolio-wrap">
                <div class="portfolio-judul">
                  <h4>Tambang</h4>
                </div>
                <figure>
                  <img src="img/pengalaman/2018/1.JPG" class="img-fluid" alt="">
                  <a href="img/pengalaman/2018/1.JPG" data-lightbox="portfolio" data-title="2018 " class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </figure>
  
                <div class="portfolio-info">
                   <h6>Penyusunan Kajian Karakteristik Ore Batuan Emas di Sekotong, Kabupaten Lombok Barat, Provinsi Nusa Tenggara Barat (2018) </h6>
                   <p> Kementerian Lingkungan Hidup dan Kehutanan</p>
                </div>
              </div>
            </div>
  
             <div class="col-lg-4 col-md-6 portfolio-item filter-2018 wow fadeInUp">
              <div class="portfolio-wrap">
                <div class="portfolio-judul">
                  <h4>Tambang</h4>
                </div>
                <figure>
                  <img src="img/pengalaman/2018/Karakterisasi Ore Kotawaringin Barat.JPG" class="img-fluid" alt="">
                  <a href="img/pengalaman/2018/Karakterisasi Ore Kotawaringin Barat.JPG" data-lightbox="portfolio" data-title="2018 " class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </figure>
  
                <div class="portfolio-info">
                   <h6> Penyusunan Kajian Karakteristik Ore Batuan Emas di Kabupaten Kotawaringin Barat, Provinsi Kalimantan Tengah (2018)</h6>
                   <p> Kementerian Lingkungan Hidup dan Kehutanan </p>
                </div>
              </div>
            </div>
  
             <div class="col-lg-4 col-md-6 portfolio-item filter-2018 wow fadeInUp">
              <div class="portfolio-wrap">
                <div class="portfolio-judul">
                  <h4>Tambang</h4>
                </div>
                <figure>
                  <img src="img/pengalaman/2018/Karakterisasi Ore Luwu.png" class="img-fluid" alt="">
                  <a href="img/pengalaman/2018/Karakterisasi Ore Luwu.png" data-lightbox="portfolio" data-title="2018 " class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </figure>
  
                <div class="portfolio-info">
                   <h6>Penyusunan Kajian Karakteristik Ore Batuan Emas di Kabupaten Luwu, Provinsi Sulawesi Selatan (2018)</h6>
                   <p>Kementerian Lingkungan Hidup dan Kehutanan </p>
                </div>
              </div>
            </div>
  
             <div class="col-lg-4 col-md-6 portfolio-item filter-2018 wow fadeInUp">
              <div class="portfolio-wrap">
                <div class="portfolio-judul">
                  <h4>Tambang</h4>
                </div>
                <figure>
                  <img src="img/pengalaman/2018/Karakterisasi Ore Minahasa Utara.JPG" class="img-fluid" alt="">
                  <a href="img/pengalaman/2018/Karakterisasi Ore Minahasa Utara.JPG" data-lightbox="portfolio" data-title="2018 " class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </figure>
  
                <div class="portfolio-info">
                   <h6> Penyusunan Kajian Karakteristik Ore Batuan Emas di Kabupaten Minahasa Utara, Provinsi Sulawesi Utara (2018)</h6>
                   <p> Kementerian Lingkungan Hidup dan Kehutanan</p>
                </div>
              </div>
            </div>
  
             <div class="col-lg-4 col-md-6 portfolio-item filter-2018 wow fadeInUp">
              <div class="portfolio-wrap">
                <div class="portfolio-judul">
                  <h4>Lingkungan Hidup</h4>
                </div>
                <figure>
                  <img src="img/pengalaman/2018/DED Tarakan.jpg" class="img-fluid" alt="">
                  <a href="img/pengalaman/2018/DED Tarakan.jpg" data-lightbox="portfolio" data-title="2018 " class="link-preview" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </figure>
  
                <div class="portfolio-info">
                   <h6>Penyusunan Detailed Engineering Design (DED) Penanggulangan Cemaran Minyak Bumi/Lantung Akibat Patahan Alami di Kota Tarakan, Provinsi Kalimantan Utara (2018)</h6>
                   <p> Kementerian Lingkungan Hidup dan Kehutanan</p>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-2017 wow fadeInUp" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <div class="portfolio-judul">
                  <h4>Lingkungan Hidup</h4>
                </div>
                <figure>
                  <img src="img/pengalaman/1.png" class="img-fluid" alt="">
                  <a href="img/pengalaman/1.png" class="link-preview" data-lightbox="portfolio" data-title="2017" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </figure>
  
                <div class="portfolio-info">
                   <h6>Pengadaan Langsung Pencetakan Buku Desain Penyelenggaraan SPIP Ditjen Pengelolaan Sampah, Limbah, dan B3 (2017) </h6>
                   <p>Kementerian Lingkungan Hidup dan Kehutanan </p>
                </div>
              </div>
            </div>
  
             <div class="col-lg-4 col-md-6 portfolio-item filter-2017 wow fadeInUp" data-wow-delay="0.2s">
              <div class="portfolio-wrap">
                <div class="portfolio-judul">
                  <h4>Lingkungan Hidup</h4>
                </div>
                <figure>
                  <img src="img/pengalaman/e1.png" class="img-fluid" alt="">
                  <a href="img/pengalaman/e1.png" class="link-preview" data-lightbox="portfolio" data-title="2017" title="Preview"><i class="ion ion-eye"></i></a>
                  <a href="#" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a>
                </figure>
  
                <div class="portfolio-info">
                   <h6> Penyusunan Dokumen Feasibility Study (FS) dan Detailed Engineering Design (DED) Pemulihan Lahan Terkontaminasi Limbah B3 (Merkuri, Sianida, dan Logam Berat Lainnya) di Lokasi Pertambangan Emas Skala Kecil (PESK) Kabupaten Lebak, Provinsi Banten (2017)</h6>
                   <p>Kementerian Lingkungan Hidup dan Kehutanan </p>
                </div>
              </div>
            </div>
  
          </div>
  
        </div>
      </section><!-- #portfolio -->
  

   
  </main>

  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
            <a href="#intro"></a><img src="img/logo.png" height="30px" width="200px" />
          <div class="col-lg-3 col-md-6 footer-info">
            <h3>KARNO Corporation</h3>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="ion-ios-arrow-right"></i> <a href="index.html">Beranda</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="about.html">Tentang Kami</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="layanan.html">Layanan</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="pengalaman.html">Pengalaman</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="team.html">Personil</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="kontak.php">Kontak</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Kontak Kami</h4>
            <p>
              Jl. Batik Kumeli No.8 <br>
              Sukaluyu, Cibeunying Kaler<br>
              Bandung 40123 <br>
              <strong>Telepon:</strong> 022-20462363<br>
              <strong>Email:</strong> karno.corporation2013@gmail.com<br>
              </strong> karno.corporation@yahoo.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="https://www.facebook.com/karno.corp.7" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Karno corp</strong>. All Rights Reserved
      </div>
      
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/jquery/jquery-migrate.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="lib/easing/easing.min.js"></script>
  <script src="lib/superfish/hoverIntent.js"></script>
  <script src="lib/superfish/superfish.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/waypoints/waypoints.min.js"></script>
  <script src="lib/counterup/counterup.min.js"></script>
  <script src="lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="lib/isotope/isotope.pkgd.min.js"></script>
  <script src="lib/lightbox/js/lightbox.min.js"></script>
  <script src="lib/touchSwipe/jquery.touchSwipe.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="js/main.js"></script>

</body>
</html>
